
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth; /*this so when we add links to pages like about, it scrolls to it in a smooth manner, not immediately*/
}


.btn{
    transition: all 300ms ease;
}

/*DESKTOP NAV*/
nav{
    /* border: 2px solid black; */
    justify-content: space-around;
    align-items: center;
    height: 17vh;   /*17% of viewport height*/
}
.logo{
    /* border: 2px solid black; */
    font-size: 2rem;
}
.logo :hover{
    cursor:default;
}
nav, nav-links{
    display: flex;
}

.nav-links{
    display: flex;
    text-decoration: none;
    gap: 2rem;
    /* border: 2px solid black; */
    list-style: none;
     }

a{
    text-decoration: none;
    color: black;
    text-decoration-color: white;
}
a:hover{
    text-decoration: underline;

}


/* starts from 26:00 on responsive portfolio website from scratch  */

/*hamburger menu*/
#hamburger-nav{
    display: none;
    justify-content: space-around;
}

.hamburger-menu{
    display: inline-block;
    position: relative;
    /* border: 2px solid black; */
}
.hamburger-icon{
    height:24px;
    width: 30px;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    display:flex;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top:100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    transition: all 0.3 ease-in-out;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{ /*this means the first element under that class which is the first span element*/
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){ /*this means the 2nd element under that class which is the second span element*/
    opacity: 0;
}
.hamburger-icon.open span:last-child /*this will onlly be shown when the button is clicked and the open class is activated*/{ 
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
 transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}



/*SECTIONS*/
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/*profile*/
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}


.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin:auto 0;

}
img{
    border-radius: 50%;
}
.section__text{
    /* border: 2px solid black; */
    text-align: center;
    align-self: center;
}

.section__text p{
    font-weight: 600;
}

.section__text__p1{
    margin-bottom: 1rem;
}
.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    /* border: 2px solid; */
}


/*ICONS*/
.icon{
    height: 2rem;
    cursor: pointer;
}

/*BUTTONS*/
.btn-container{

    gap: 1rem;
    justify-content: center;
    display: flex;
}


.btn{
    border-radius: 2rem;
    width: 8rem;
    padding: 1rem;
    transition: all 300ms ease;
    font-weight: 600;
}


.btn-color-1, .btn-color-2{
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,.btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1,.btn-color-2:hover{
    background: rgb(53, 53, 053);
    color: white;
}

.btn-color-1:hover{
    background: rgb(0, 0, 0);
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}


/*ABOUT*/
.heading{
    text-align: center;
    margin-bottom: 10vh;
}

.about{
    font-weight: 800;
}

#about{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.pic{

}
.bw{
    border-radius: 5%;
    width: 400px;
}

.cards{
    gap: 5rem;
    display: flex;
    margin-bottom: 4vh;
}
.card{
    padding: 40px 80px;
    text-align: center;
    border: solid rgb(89, 89, 89);
    border-radius: 15%;

}

.exp{
    font-weight: bold;
}